name: Testiranje kode

on:
  push:
    branches:
      - main

jobs:
  check-tests:
    name: Preverjanje testnih skript
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kode
        uses: actions/checkout@v2

      - name: Preveri obstoj testnih skript
        run: |
          if [ ! -f "test_naloga2.py" ]; then
            echo "Napaka: Ni bilo mogoÄe najti testne skripte 'test_naloga2.py'." > napaka.txt
            exit 1
          fi

      - name: Ustvari artefakte
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-scripts
          path: test_naloga2.py

  setup-and-run-tests:
    name: Priprava in izvajanje testov
    runs-on: ubuntu-latest
    needs: check-tests
    if: failure()
    steps:
      - name: Checkout kode
        uses: actions/checkout@v2

      - name: Prenesi artefakte
        uses: actions/download-artifact@v2
        with:
          name: test-scripts
          path: .

      - name: Preveri napako
        run: |
          if [ -f "napaka.txt" ]; then
            cat napaka.txt
            exit 1
          fi

      - name: Priprava izvajalnega okolja
        run: |
          # Dodajte skripto za pripravo izvajalnega okolja

      - name: Izvajanje testov
        run: |
          pytest || echo "Test execution failed" > napaka.txt
