name: Deploy to Docker Hub

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  REPONAME: ${{ secrets.REPO_NAME }}

on:
  workflow_run:
    workflows: ["Testiranje kode"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Docker Login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u $DOCKER_USERNAME --password-stdin

      - name: Trenutni Äas
        id: datum
        run: echo "date=$(date +'%Y-%m-%d--%M-%S')" >> "$GITHUB_ENV"

      - name: Zgradi docker sliko
        run: |
          echo ${{ steps.datum.outputs.date }}
          docker build . --file Dockerfile --tag $DOCKER_USERNAME/$REPONAME:${{ steps.datum.outputs.date }}

      - name: Potisni docker sliko
        run: |
          docker push $DOCKER_USERNAME/$REPONAME:${{ steps.datum.outputs.date }}
